.container {
  width: 100vw;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .img {
    width: 40vw;
    max-width: 400px;
    height: auto;
    margin-top: 2rem;
  }

  .p {
    margin-top: 2rem;
    font-size: 1.2rem;
  }
}